{% extends 'PerfectWalk/perfectwalk_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section class="intro" id="homepage_pw">
<span class="PW_Summary"> <strong>Are you an avid dog walker? Do you have to track your pets health? Then this app may be for you.</strong><br />
    PerfectWalk was created for Pets and Owners alike to help keep them active and healthy.
    To help with this the app has a journal entry that needs to be filled everyday.
    The journal has fields for users to put the location they went to, rating of X location,
    time they went to X location, date they went to X location, and what kind of pet they own.
    As well as a private notes section for the user to note any possible signs of medical issues with their pet.</span> <br />
</section>
{% endblock %}

